@tailwind base;
@tailwind components;
@tailwind utilities;



.shadoww {
    box-shadow: rgba(195, 68, 68, 0.24) 0px 3px 8px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background:transparent ;
    border-radius: 10px;
}

::-webkit-scrollbar{
    width: 3px;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

